@using Microsoft.AspNetCore.Identity
@*@using Messenger.Models*@
@*@model IEnumerable<Messenger.Models.Posts>*@
@model ViewModel
@inject UserManager<MessengerUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
    MessengerUser v = Model.User.First(u => u.UserName == User.Identity.Name);
}


<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div style="float: right; width: 20%; height: 500px;margin-right:11%;border-top-left-radius:15%;border-top-right-radius:15% ;position:sticky; top:70px;background-color: #eee">
    <div class="container" style="; ">
        <img src="~/no-profile-pic-icon-24.jpg" style="width: 20%; margin-left:5%;border-radius:50%" />
        <h3 style="margin-left: 3%; width: 30%">@v.FirstName @v.LastName</h3>
    </div>
</div>


<div class="jumbotron bg-light">
    <div>
        <div>
            <div class="container" style="width: 30%; margin-left: 32%; margin-top: -5%; margin-bottom: -15%; padding-top: 5%; padding-bottom: 3%; padding-left: 1%; ">
                <form asp-action="Create2"
                      data-ajax-begin="clearInputField" data-ajax-complete=""
                      data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                      data-ajax="true" data-ajax-method="POST" style="padding-left: 5%; padding-top: 5%; padding-bottom: 5%; padding-right: 5%; box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.52) ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input name="Text" class="form-control" id="messageText" placeholder="Start a Post!" style="width: 90%; margin-top: 2%" />
                    </div>
                    <div class="form-group">
                        <input style="background-color: crimson; width:15%;text-align:center; color: white" type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                    </div>
                    <input type="hidden" value="@userName" name="username" />
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 0%; margin-left: 26%; width: 42%; ">

        <div>
            <div class="col-md-12" id="chat">
                @if (Model != null)
                {
                    @foreach (var post in Model.Posts.OrderByDescending(p => p.When))
                    {

                        <div class="container" style="width:1800px;">
                            <div class="col-md-5" style="box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.52); padding-left:0%; padding-right:0%;padding-bottom:-2%; margin-bottom:5% ">
                                <div class="panel panel-default" style="margin-bottom:0%">
                                    <div class="panel-body">
                                        <section class="post-heading">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="media">
                                                        <div class="media-left" style="margin-right:-2%">
                                                            <a href="#">
                                                                <img src="~/no-profile-pic-icon-24.jpg" style="width: 15%;border-radius:50%" />
                                                            </a>
                                                            <a href="#" class="anchor-username"><h3 class="media-heading">@post.UserName</h3></a>
                                                            <a href="#" class="anchor-time">@post.When.ToString("M/dd/yyyy hh:MM tt")</a>
                                                        </div>
                                                        <!--<div--> @*class="media-left"*@
                                                        <!--style="float:left">
                                                            <a href="#" class="anchor-username"><h4 class="media-heading">@post.UserName</h4></a>
                                                            <a href="#" class="anchor-time">@post.When.ToString("M/dd/yyyy hh:MM tt")</a>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="post-body" style="margin-top:2%">
                                            <p>
                                                @post.Text
                                            </p>
                                        </section>
                                        <section class="post-footer" style="margin-bottom:0%">
                                            <hr>
                                            <div class="post-footer-option container">
                                                <ul class="list-unstyled" style="display:inline">
                                                    <li>
                                                        <a asp-action="Addlike" asp-controller="Home" asp-route-postid="@post.id">
                                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                                            Like @if (post.likes != 0)
                                                            {@post.likes}
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                                                    <li></li>
                                                </ul>
                                                <form asp-action="AddComment"
                                                      data-ajax-begin="clearInputField" data-ajax-complete=""
                                                      data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                                                      data-ajax="true" data-ajax-method="POST">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group">
                                                        <input name="Text" class="form-control" id="messageText" placeholder="Write a Comment!" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input style="background-color: crimson; width:15%;text-align:center; color: white" type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                                                    </div>
                                                    <input type="hidden" value="@userName" name="username" />
                                                    <input type="hidden" value="@post.id" name="postId" />
                                                </form>
                                            </div>
                                            <button type="button" class="collapsible glyphicon glyphicon-chevron-down nav-link btn btn-link text-dark">Comments</button>
                                            <div class="content" style="overflow:hidden; display:none;margin-top:4%">
                                                @foreach (var comment in Model.Comment.OrderByDescending(p => p.When).Where(p => p.postid == post.id))
                                                {
                                                    <hr>
                                                    <div class="post-footer-comment-wrapper" style="margin-top:3%">
                                                        <div class="comment">
                                                            <a href="#" class="anchor-username"><h4 class="media-heading"><img src="~/no-profile-pic-icon-24.jpg" style="width: 10%;border-radius:50%" /> @comment.UserName</h4></a><br />
                                                            <p style="margin-left:10%">
                                                                @comment.Text
                                                            </p>
                                                            <a href="#" class="anchor-time">@comment.When.ToShortTimeString()</a>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                }
                                            </div>

                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div>


    </div>


</div>

@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>

}


@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/post.js"></script>
    <script src="~/js/signalrPostHandler.js"></script>
    <script src="~/js/StickyNav.js"></script>
    <script src="~/js/CommentHandler.js"></script>
    <script src="~/js/Comment.js"></script>
    <script src="~/js/Collapse.js"></script>
}